% vim:ft=erlang
{stal_conf_version, 1}.
{license, mit}.
{project_version, "2.2.1"}.
{stal_tags, []}.
{stal_include, true}.
{stal_deprecated, true}.
{stal_superseded_by, "foo/bar"}.
%% What else goes here?
%% I very much like the idea of Python style classifiers in this file - thoughts? comments?
%% https://pypi.python.org/pypi?:action=list_classifiers 
%%
%% These are from Gordon's Gutherie's email to erlang-questions
%% http://erlang.org/pipermail/erlang-questions/2014-February/077621.html
{name, "Starling"}.
{license, "EPL"}.
{description, "Unicode support for Erlang"}.
{details, "A C-Port wrapped around the ICU library for unicode"}.
{status, "production"}. % alpha | beta | production
{rebar, {version, "1"}, {starling, {git, "git://github.com/hypernumbers/starling.git","master"}}}.
