% vim:ft=erlang
{stal_conf_version, 1}.
{license, mit}.
{project_version, "2.2.1"}.
{stal_tags, []}.
{stal_include, true}.
{stal_deprecated, true}.
{stal_superseded_by, "foo/bar"}.
%% What else goes here?
%% I very much like the idea of Python style classifiers in this file - thoughts? comments?
%% https://pypi.python.org/pypi?:action=list_classifiers 
